* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(17,45,96);
    background: linear-gradient(100deg, rgba(17,45,96,0.94) 16%, rgba(182,192,197,0.93) 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;
    font-family: American Typewriter, serif;
    font-size: 20px;
}

.home{
    color: #ccc;
    min-width: 1000px;
    min-height: 500px;
    border-radius: 20px;
    background-color: rgba(240, 227, 227, 0.03);
    border: 1px, solid, #ccc;
}

h1{
    padding: 1em;
    margin-left: 38%;
}

#tarefa{
    padding: 2px;
}

.tarefa-btn {
    padding: 5px 10px; 
    margin-bottom: 10px; 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    color: inherit; 
    text-decoration: none;
    font-size: 18px;
}

.descricao-tarefa {
    display: none;
    margin-left: 35px; 
}



input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 23px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]::before {   
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked {
    background-color: rgba(76, 95, 131, 0.94);
    border-color: rgba(76, 95, 131, 0.94);
}

input[type="checkbox"]:checked::before {
    content: 'X'; 
    display: block;
}
#buttonSave{
    margin-left: 30%;
    margin-top: 30%;
    border-radius: 5px; 
    border: none;
    background-color: rgba(76, 95, 131, 0.94);
    cursor: pointer;
    width: 75px;
    margin-bottom: 20px;
    color: white;
  }


  .tarefa {
    margin-left: 10px; 
    position: relative; 
}

.delete-link {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 0; 
    right: 10px; 
}

#logoutBtn{
    margin-left: 105%;

}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.button img{
    width: 20px; 
}

.formulario ::placeholder{
    color: white; 
}

.formulario{
    margin-top: 10px;
    border: 1px solid #7ea9d4; 
    border-radius: 10px;
    margin-right: 50px;
    padding: 1em;
}

#addTaskForm{ 
    display: none;
    margin-left: 40px;

}

#titulo{
    margin-top: 10px;
}

#titulo, 
#descricao {
    width: 70%;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    background: none;
    color: white;
}


#addTaskForm .button{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 15px;
}

#addTaskBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-top: 2px solid #7ea9d4; 
    padding-top: 5px; 
    margin-left: 20px;
    width: calc(100% - 20px); 
    text-align: left; 
}



#addTaskBtn:hover {
    color: #003366; /* Altere para a cor desejada */
}

#addTaskBtn::before {
    content: '+';
    left: 0;
    font-size: 24px;
    color: #003366; /* Cor do símbolo "+" */
    
}


#addTaskBtn:hover::before {content: '+';
    padding-left: 4px;
    padding-right: 4px;
    font-size: 24px;
    color: white;
    border-radius: 70%;
    background-color: #003366;
    
}
