<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'cadastro/style.css' %}">
</head>
<body>
    <div class="cadastro">
        <h1>Cadastre-se</h1>
        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %} 
            {% if mensagem_username %}
            <p class="erro">{{ mensagem_username }}</p>
            {% endif %}
            {% if mensagem_email %}
            <p class="erro">{{ mensagem_email }}</p>
            {% endif %}
            <div class="input-group">
                <span class="input-group-icon"><img src="{% static '/img/person.png' %}" alt="user Icon"></span>
                <input id="entrada" type="text" placeholder="Nome..." name="username">  
            </div>
            
            <div class="input-group">
                <span class="input-group-icon"><img src="{% static '/img/email.png' %}" alt="email Icon"></span>
                <input id="entrada" type="email" placeholder="Email..." name="email">
            </div>
            
            <div class="input-group" >
                <span class="input-group-icon"><img src="{% static '/img/password.png' %}" alt="password Icon"></span>
                <input id="entrada" type="password" placeholder="Senha..." name="senha">
            </div>
        
            <input id="botao" type="submit" value="cadastrar">

            <p id="login">
                Já possui conta? <a href="/auth/login/">login</a>
            </p>
        </form>  
    </div>
      
</body>
</html>
